---
layout: archive
title: "Research profile"
permalink: /publications/
author_profile: true
---

{% include base_path %}

<p>I am broadly interested in advancing artificial intelligence through research in computer vision, natural language processing, and AI-driven healthcare applications.</p>
  {% if site.author.googlescholar %}
  <p>
    View my complete publication record on
    <a href="{{ site.author.googlescholar }}" target="_blank">
      Google Scholar
    </a>.
  </p>
  {% endif %}
</div>

<hr>

{% if site.publication_category %}
  {% for category in site.publication_category %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}

      {% unless title_shown %}
      <h2>{{ category[1].title }}</h2>
      <hr>
      {% assign title_shown = true %}
      {% endunless %}

      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
      {% include archive-single.html %}
  {% endfor %}
{% endif %}



